$top-offset: 50px;
$left-offset: 1400px;

.NPCParty {
    background: #CCD1D1;
    position: absolute;
    width: 500px;
    height: 284px;
    top: 618px;         
    left: $left-offset;       
    overflow-y: scroll;
    border:2px solid black;
}


.EventLog {
    background: #CCD1D1;
    position: absolute;
    width: 500px;
    height: 284px;
    top: $top-offset;         
    left: $left-offset;   
    overflow-y: scroll;
    border:2px solid black;
}

.CombatLog {
    background: #CCD1D1;
    position: absolute;
    width: 500px;
    height: 284px;
    top: 334px;         
    left: $left-offset;       
    overflow-y: scroll;
    border:2px solid black;
}

div.EventHistory p {
    text-align: center;
    font-weight: bold;
}

div.EventHistory span.Damage {
    color: red;
}

.EncounterHistory {
    position: absolute;
    width: 1224px;
    height: 100px;
    top: 910px;         
    left: 175px;    
}

.EndGame {
    display: none;
    position: absolute;
    background: #6E2C00;
    width: 2000px;
    height: 1000px;
    text-align: center;
    vertical-align: middle;
    line-height: 300px;  
    font-size: 300%;
    z-index: 2;
    top: 1px;
    border:2px solid black; 
}

.HexCanvas {
    border:2px solid black; 
    position: absolute;
    left: 325px; 
    top:$top-offset;
    z-index: 1;
    background: url('./images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.InfoTableHeaders {
    align-self: center;
}

#PlayerInfo {
    position: absolute;
    top:$top-offset;
    left: 1px;
    width: 150px;
}

#NPCInfo {
    position: absolute;
    top:$top-offset;
    left: 152px;
    width: 150px;
}

#main {
    z-index: 1;
  }